--- 
layout: default 
---
<div class="container limited">
    <section class="row">
        <div class="col-12 text-left">
            {% include modules/page-title.html subTitle="TRULY DECENTRALIZED, PEER-TO-PEER ECOMMERCE" title="Features" wrapperClass="text-center" %}
            <p class="medium mt-5">OpenBazaar costs nothing to download and use. Unlike sites like Ebay or Amazon there are no fees to list items,
                and no fees when an item is sold. Because the trade is p2p (peer to peer), it’s happening directly between
                buyers and sellers with no middleman to take a cut from each sale. It’s completely free e-commerce.</p>
            <h3 class="section-sub-title mt-5">
                Easy Setup
            </h3>
            {% asset home/openbazaar-2.0-teaser.jpg class="big-centered-image mt-3" alt="openbazaar teaser" %}
            <p class="medium mt-5">
                    Setting up your own web server for an ecommerce store is difficult and requires specialized knowledge. Many sellers end up paying someone else to set up their store. Setting up an OpenBazaar store is simple. Download the program, run the installer, and you’ll be listing your items in minutes.
            </p>
        </div>
    </section>
</div>