<header class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/">
            {% asset home/openbazaar-logo.png class="openbazaar-logo" alt="openbazaar logo" %}
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-top" aria-controls="navbar-top"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span> Menu
        </button>
        <div class="collapse navbar-collapse text-center text-lg-left" id="navbar-top">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ml-md-2 active">
                    <a class="nav-link" href="/features/">Features
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item ml-md-2">
                    <a class="nav-link" href="/applications/">Applications</a>
                </li>
                <li class="nav-item ml-md-2">
                    <a class="nav-link" href="https://api.openbazaar.org/">API</a>
                </li>
                <li class="nav-item ml-md-2">
                    <a class="nav-link" href="/developers/">Developers</a>
                </li>
                <li class="nav-item ml-md-2">
                    <a class="nav-link" href="/support/">Support</a>
                </li>
                <li class="nav-item ml-md-2">
                    <a class="nav-link" href="/blog/">Blog</a>
                </li>
                <li class="nav-item ml-md-2">
                    <a href="/mobile-updates/" class="button small download d-lg-none">Get It for Desktop</a>
                    <a href="/download/" class="button small download d-none d-lg-inline-flex">DOWNLOAD</a>
                </li>
            </ul>
        </div>
    </nav>
</header>